:root {
  --card-border-width: 4.5vh;
  --card-aspect-ratio: 0.715;
  --card-border: #000;
  --card-background: #fff;
  --artwork-border-color: #000;
  --border-shine-deg: 344deg;
  --artwork-url: '';

  --rotation-y: 0deg;
  --rotation-x: 0deg;

  --holo-shine-gradient: linear-gradient(
    var(--border-shine-deg),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 100%
  );

  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.37),
    0px 1.8px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.1px 4.5px 5px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.2px 10.9px 12.2px -2.5px hsl(var(--shadow-color) / 0.36);
}

*[contenteditable] {
  min-width: 6vh;
  text-shadow: -0.15vh -0.15vh 0 #ffffff99, 0.15vh -0.15vh 0 #ffffff99,
    -0.15vh 0.15vh 0 #ffffff99, 0.15vh 0.15vh 0 #ffffff99,
    -0.1vh -0.1vh 0 #ffffff99, 0.1vh -0.1vh 0 #ffffff99,
    -0.1vh 0.1vh 0 #ffffff99, 0.1vh 0.1vh 0 #ffffff99, -0.2vh -0.2vh 0 #ffffff99,
    0.2vh -0.2vh 0 #ffffff99, -0.2vh 0.2vh 0 #ffffff99, 0.2vh 0.2vh 0 #ffffff99;
}

/* open-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./open-sans-v40-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./open-sans-v40-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('./open-sans-v40-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Center everything */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  max-width: 900px;
  margin: auto;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
}

input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
}
input[type='color']:active {
  transform: translateY(2px);
  height: 34px;
}
input[type='color']:active::-webkit-color-swatch {
  border-bottom-width: 1px;
}
input[type='color']:active::-moz-color-swatch {
  border-bottom-width: 1px;
}
input[type='color']::-webkit-color-swatch {
  border-radius: 8px;
  border: solid 1px black;
  border-bottom-width: 3px;
}
input[type='color']::-moz-color-swatch {
  border-radius: 8px;
  border: solid 1px black;
  border: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.eyedropper {
  aspect-ratio: 1;
  width: 36px;
  background: white;
  border-radius: 8px;
  border: solid 1px #000;
  border-bottom-width: 3px;
  cursor: pointer;
}
.eyedropper:hover {
  background: #f0f0f0;
}
.eyedropper:active {
  transform: translateY(2px);
  height: 34px;
  border-bottom-width: 1px;
}

/* Container holds card + button */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  height: 100%;
  place-items: center;
}

.card-bg {
  aspect-ratio: var(--card-aspect-ratio);
  background: var(--card-border);
  max-height: 60vh;
  height: 100%;
  border-radius: 3vh;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-elevation-medium);
}
.card-inner {
  width: calc(100% - var(--card-border-width));
  height: calc(100% - var(--card-border-width));
  background: var(--card-background);
  display: flex;
  flex-direction: column;
  border-radius: 1vh;
  box-shadow: #00000026 0vh 0vh 1vh 0px;
}

.card-title {
  height: 4vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1vh;
  font-weight: 800;
  font-style: italic;
  font-size: 2.2vh;
}

.card-artwork {
  width: calc(100% - var(--card-border-width));
  margin-inline: auto;
  border: solid 1vh var(--artwork-border-color);
  height: 25vh;
  background-color: grey;
  display: grid;
  place-items: center;
  background-size: cover;
  background-position-y: 0vh;
  background-repeat: no-repeat;
  background-image: var(--artwork-url);
}
.card-artwork:not([style]):hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.card-attack {
  margin: calc(var(--card-border-width) / 2);
  margin-bottom: 0;
  display: flex;
}

.card-attack-name {
  flex: 1;
  font-weight: 700;
  font-size: 2.3vh;
}

.card-attack-dmg {
  font-weight: 700;
  font-size: 2.3vh;
  text-align: right;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.5vh;
  border-top: solid 0.25vh white;
  width: calc(100% - var(--card-border-width));
  margin: auto;
  height: 7vh;
}

.card-attack-description {
  margin-left: calc(var(--card-border-width) / 2);
  margin-top: calc(var(--card-border-width) / 4);
  font-size: 1.6vh;
  flex: 1;
}
.left {
  display: flex;
  align-items: center;
}

.statLeftTop,
.statRightTop {
  font-size: 1.7vh;
  font-style: italic;
}

.configpanel {
  padding: 16px;
  background: linear-gradient(to left, #ece9e6, #ffffff);
  border: solid 3px #383838;
  border-bottom-width: 9px;

  min-height: 30vh;
  width: 350px;

  box-shadow: 0 0 5px #d4d4d4, 0 0 10px #ffffff, 0 0 5px 4px #a8a8a8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.flex-row + .flex-row {
  margin-top: 8px;
}

.holo-border {
  background: var(--holo-shine-gradient), url('./holo.jpg');
  background-size: 75vh;
}

.fullart {
  background: var(--holo-shine-gradient), var(--artwork-url);
  background-size: cover;
  background-position: center;
}

.fullart .card-artwork {
  visibility: hidden;
}

.randomize-container {
  height: 36px;
}

.randomize {
  height: 36px;
}

.button {
  background: white;
  border-radius: 8px;
  border: solid 1px #000;
  border-bottom-width: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button:hover {
  background: #f0f0f0;
}

.button:active {
  transform: translateY(2px);
  border-bottom-width: 1px;
  height: 35px;
}

.save {
  display: none;
}

@media screen and (max-width: 1240px) {
  body {
    grid-template-columns: repeat(1, auto);
    gap: 12px;
  }
  .configpanel {
    width: min(90vw, 90%);
    margin: auto;
  }

  .container {
    margin-top: 24px;
  }
}

body.done {
  grid-template-columns: auto;
}
body.done .left {
  display: none;
}
body.done #doneButton {
  display: none;
}
body.done #downloadBtn {
  display: flex;
}
body.done .card-bg {
  transform: perspective(1000px) rotateY(var(--rotation-y))
    rotateX(var(--rotation-x));
}
body.done .container {
  aspect-ratio: var(--card-aspect-ratio);
  max-height: 60vh;
  height: 100%;
  transform: scale(1.2);
}
